ul {
    margin-top: 40px;
}

.badge-list {
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.badge-list img.list-img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.badge-list .list-info {
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-info h5 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
}

.list-info .info-twitter {
    font-size: 12px;
    color: #00acee;
}

.info-twitter img {
    width: 15px;
}

.list-info p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    margin: 0;
}

.form-group label {
    color: rgb(255, 255, 255);
}

.form-group input {
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    color: rgb(255, 255, 255);
    background: transparent;
    width: 100%;
}

.form-group input:focus,
.form-group input:active,
.form-group input:hover {
    background-color: transparent;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    outline: none;
}

.badges-list__container h3 {
    color: rgb(255, 255, 255);
}