.Modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Modal__container {
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    position: relative;
    top: 10rem;
    padding: 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 400px;
}

.Modal__close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    color: rgb(255, 255, 255);
}