.Navbar {
    width: 100%;
    padding: 0.5rem 0;
    background-color: rgb(0, 33, 58);
}

.Navbar__brand {
    color: #ffffff;

    display: flex;
    align-items: center;
}

.Navbar__brand:hover {
    color: #ffffff;
    text-decoration: none;
}

.Navbar__brand-logo {
    margin-right: 0.5rem;
}

.dropdown-menu {
    background-color: rgb(0, 33, 58);
}

.dropdown-menu a {
    color: #ffffff;
}

.dropdown-menu a:hover {
    background-color: rgb(0, 0, 40);
    color: #ffffff;
    text-decoration: none;
}